<div class="well">
    <fieldset class="my-fieldset">
        <div class="row ">
            <div class="col-xs-11 no-margin">
                <legend class="pull-left no-margin">Search notes</legend>
            </div>
            <div class="col-xs-1 no-margin">
                <i  (click)="toggleShow($event)"
                    class="no-margin pull-right glyphicon glyphicon-align-justify"></i>
            </div>
        </div>
    </fieldset>
    
    <form [class.hide]="!show" class="form-horizontal" role="form">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="date" class="col-sm-2 control-label">Date:</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" placeholder="date">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="priority" class="col-sm-2 control-label">Priority:</label>
                    <div class="col-sm-10">
                        <input type="integer" class="form-control" placeholder="priority">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success btn-large pull-right col-sm-10">Search</button>
            </div>
        </div>
    </form>
</div>

