<div class="row">
    <div *ngFor="let note of notes; let index=index">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>#{{note.priority}} </strong> - {{note.title}}
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button"
                                    class="btn btn-default btn-xs"
                                    data-toggle="button"
                                    aria-pressed="false"
                                    autocomplete="off"
                                    (click)="toggleReminderNote($event, note)"
                            >
                                {{note.reminder ? "reminded" : "not reminded"}}
                            </button>
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a (click)="moreNote($event, note)" href="#">More </a></li>
                                <li><a (click)="updateNote($event, note)"  href="#">Update </a></li>
                                <li><a (click)="deleteNote($event, note)" href="#">Delete </a></li>
                                <li class="divider"></li>
                                <li><a (click)="incrementNote($event, note)" href="#">Priority +</a></li>
                                <li><a (click)="decrementNote($event, note)" href="#">Priority -</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-heading">
                    {{note.date}}
                </div>
                <div class="panel-body">
                    <p>{{note.description}}</p>
                </div>
            </div>
        </div>
    </div>



